# 学習メモ 21.11.30

## pd.Seriesの文字列の結合
pd.Series同士の文字列は`+`演算子で結合できるらしい

In [4]:
import pandas as pd

x1 = pd.Series(['a', 'b', 'c']) + pd.Series(['A', 'B', 'C'])
print(x1)

0    aA
1    bB
2    cC
dtype: object

In [5]:
X = pd.DataFrame({'x': ['a', 'b', 'c'], 'y': ['A', 'B', 'C']})
x2 = X['x'] + X['y']
print(x2)

0    aA
1    bB
2    cC
dtype: object

## pd.mapメソッドはpd.Seriesを渡しても動くらしい
pd.map(dict())と思っていた

In [10]:
x = pd.Series(list('abcabcdegcddd'))
x

0     a
1     b
2     c
3     a
4     b
5     c
6     d
7     e
8     g
9     c
10    d
11    d
12    d
dtype: object

In [12]:
m = pd.Series(list('ABC'), index=list('abc'))
x.map(m)

0       A
1       B
2       C
3       A
4       B
5       C
6     NaN
7     NaN
8     NaN
9       C
10    NaN
11    NaN
12    NaN
dtype: object

## datautil parseというものがあるらしい

In [14]:
from dateutil.parser import parse

parse('2021-10-11 5:10')

datetime.datetime(2021, 10, 11, 5, 10)

## queryメソッドを使ってみる

In [30]:
from sklearn.datasets import load_iris
import numpy as np

In [41]:
iris = load_iris()
X = pd.DataFrame(iris.data, columns=['sep_len', 'sep_w', 'pet_len', 'pet_w'])
X['y'] = list(map(lambda x: iris.target_names[x], iris.target))

In [42]:
X

     sep_len  sep_w  pet_len  pet_w          y
0        5.1    3.5      1.4    0.2     setosa
1        4.9    3.0      1.4    0.2     setosa
2        4.7    3.2      1.3    0.2     setosa
3        4.6    3.1      1.5    0.2     setosa
4        5.0    3.6      1.4    0.2     setosa
..       ...    ...      ...    ...        ...
145      6.7    3.0      5.2    2.3  virginica
146      6.3    2.5      5.0    1.9  virginica
147      6.5    3.0      5.2    2.0  virginica
148      6.2    3.4      5.4    2.3  virginica
149      5.9    3.0      5.1    1.8  virginica

[150 rows x 5 columns]

In [43]:
# X[X.sep_len >= 5.0]
X.query('sep_len >= 5.0').head()

    sep_len  sep_w  pet_len  pet_w       y
0       5.1    3.5      1.4    0.2  setosa
4       5.0    3.6      1.4    0.2  setosa
5       5.4    3.9      1.7    0.4  setosa
7       5.0    3.4      1.5    0.2  setosa
10      5.4    3.7      1.5    0.2  setosa

In [44]:
X.query('y.str.startswith("set")').head()

   sep_len  sep_w  pet_len  pet_w       y
0      5.1    3.5      1.4    0.2  setosa
1      4.9    3.0      1.4    0.2  setosa
2      4.7    3.2      1.3    0.2  setosa
3      4.6    3.1      1.5    0.2  setosa
4      5.0    3.6      1.4    0.2  setosa